WebServiceClient/src/conf/xml-resources/web-service-references/FileUploadServiceService/wsdl/localhost_8080/FileStorageSoapWebService/FileUploadServiceService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.com/" name="FileUploadServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.com/" schemaLocation="http://localhost:8080/FileStorageSoapWebService/FileUploadServiceService?xsd=1"/>
</xsd:schema>
</types>
<message name="fileSizeAndFile">
<part name="parameters" element="tns:fileSizeAndFile"/>
</message>
<message name="fileSizeAndFileResponse">
<part name="parameters" element="tns:fileSizeAndFileResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="waitFor10Sec">
<part name="parameters" element="tns:waitFor10Sec"/>
</message>
<message name="waitFor10SecResponse">
<part name="parameters" element="tns:waitFor10SecResponse"/>
</message>
<message name="InterruptedException">
<part name="fault" element="tns:InterruptedException"/>
</message>
<portType name="FileUploadService">
<operation name="fileSizeAndFile">
<input wsam:Action="http://services.com/FileUploadService/fileSizeAndFileRequest" message="tns:fileSizeAndFile"/>
<output wsam:Action="http://services.com/FileUploadService/fileSizeAndFileResponse" message="tns:fileSizeAndFileResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.com/FileUploadService/fileSizeAndFile/Fault/Exception"/>
</operation>
<operation name="waitFor10Sec">
<input wsam:Action="http://services.com/FileUploadService/waitFor10SecRequest" message="tns:waitFor10Sec"/>
<output wsam:Action="http://services.com/FileUploadService/waitFor10SecResponse" message="tns:waitFor10SecResponse"/>
<fault message="tns:InterruptedException" name="InterruptedException" wsam:Action="http://services.com/FileUploadService/waitFor10Sec/Fault/InterruptedException"/>
</operation>
</portType>
<binding name="FileUploadServicePortBinding" type="tns:FileUploadService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="fileSizeAndFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="waitFor10Sec">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InterruptedException">
<soap:fault name="InterruptedException" use="literal"/>
</fault>
</operation>
</binding>
<service name="FileUploadServiceService">
<port name="FileUploadServicePort" binding="tns:FileUploadServicePortBinding">
<soap:address location="http://localhost:8080/FileStorageSoapWebService/FileUploadServiceService"/>
</port>
</service>
</definitions>